doctype html
html(lang="en")
    head
        include partial/header
    body.login 
        .contenedor-formulario
            h1 Crear cuenta en Uptask

            if errores
                each error in errores
                    p.error.alerta= error.message

            form#formulario.caja.caja-login(method="POST" action="/crear_cuenta")
                .campo
                    label(for = "email") E-mail:
                    input(type="email" name="email" placeholder="email" value= email)
                .campo
                    label(for = "password") Password:
                    input(type="password" name="password" placeholder="Tu Password" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Crear Cuenta")
                .campo
                    a(href="/iniciar_sesion") Iniciar Sesion 
    script(src="/dist/bundle.js") 