doctype html
html(lang="en")
    head
        include partial/header
    body
        
        header.barra
            h1 UpTask - Administrador de Poryectos
            a(href="/cerrar_sesion") Cerrar Sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevos_proyectos" class="boton") Nuevo Proyecto
                        span +

                .panel.lista-proyectos 
                    h2 Proyectos 
                    ul#proyectos.proyectos 
                        if(proyectos.length > 0)
                            each proyecto in proyectos 
                                li 
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre 
            block content

        script(src="/dist/bundle.js")     