extends layout 

include mixins/crear_proyecto

block content
    .contenido-principal
        h1= nombrePagina

        //Para mostrar en pantalla el error

        if errores
            each error in errores
                .error.alerta= error.mensaje

        +crear_proyecto(proyecto)
            