doctype html
html(lang="en")
    head
        include partial/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu E-mail para poder reestablecer la constraseña

            if errores
                each error in errores
                    p.error.alerta= error.mensaje

            form.caja-login(action="/reestablecer", method="post") 
                .campo
                    label(for = "email") E-mail:
                    input(type="email" name="email" placeholder="Tu email")
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer Contraseña")
                .campo
                    a(href="/iniciar_sesion") Iniciar Sesion

        script(src="/dist/bundle.js")   